@import url('https://fonts.googleapis.com/css2?family=Courier+Prime:wght@700&family=Roboto:wght@400;500&display=swap');


#performer-img-detail {
    border-radius: 1000px;
}

#event-detail-body {
    height: 100vh;

}


#event-detail li {
    background-color: #020202;
    color: white;
    font-family: 'Courier Prime', monospace;
    letter-spacing: 2px;
    font-size: large;
}