@import url('https://fonts.googleapis.com/css2?family=Courier+Prime:wght@700&family=Roboto:wght@400;500&display=swap');


.img-detail {
    height: 450px;
    width: 450px;
    border-radius: 1000px;
    object-fit: cover;
}

.img-event {
    height: 250px;
    width: 250px;
    border-radius: 1000px;
    object-fit: cover;
}

#event-detail-body {
    height: 100vh;

}


#event-detail li {
    background-color: #020202;
    color: white;
    font-family: 'Courier Prime', monospace;
    letter-spacing: 2px;
    font-size: large;
}


@media only screen and (max-width: 468px){

    .img-detail  {
        height: 250px;
        width: 250px;
    }

}

