/* #custom-checkbox {
    align-items: center;
    border: 2px solid  rgb(224, 151, 33);
    border-radius: 5px;
    display: flex;
    flex-shrink: 0;
    height: 1.25em;
    justify-content: center;
    margin-right: 5px;
    width: 1.25em;
}


#custom-checkbox::after {
    color: white;
    content: "\2714";
}


.checkbox-input:checked + #custom-checkbox {
    background-color: rgb(224, 151, 33);
}  */

/* .checkbox {
    display: flex;
    align-items: center;
    cursor: pointer;
    margin-top: 150px;
    padding: 10px;
}  */


#history-card-img {
    border-radius: 100px !important;
}


#history-card-img {
   max-height: 450px;
}


