
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@700&display=swap');


.navbar {
    margin: 0 !important;
    border: 0 !important;
}


#logo {
    color: #020202;
    font-family: 'Oswald', sans-serif;
}

#login-link {
    letter-spacing: 2px;
    margin-left: 5px;
}

