.App {
  display: flex;
  flex-flow: row wrap;
  max-width: 1080px;
}

a {
  text-decoration: none;
}

.attend-header{
  display: flex;
  flex-flow: row wrap;

}

/* Header */
.attend-header,
.home-header,
.host-header {
  border-bottom: 1px solid black;
  padding: 2px;
  width: 100%;
  height: 70px;
}

.attend-title,
.home-title,
.host-title {
  text-align: center;
  width: 100%;
}


.venue-select {
  display: flex;
  width: 50%;
  height: 20px;
}

.venue-select > select {
margin-top: 3px;
}

.venue-select h2{
 padding-right: 5px;
}


.user-icon{
  /* width: 100%; */
  margin-left: auto;
  padding-right: 5px;
}




/* ==========================
Home
=============================*/



/* Modal */
.cancel-btn {
  display: flex;

}
#cancel-btn{
  background-color: rgb(197, 23, 23);
  color: white;
  margin-top: 10px;
  text-align: center;
  width: 100%;
}



.close {
  cursor: pointer;
  font-weight: bold;
  order: 1;
  position: absolute;
  padding-left: 5px;
  padding-right: 5px;
  right: 0%;
}

.close:hover {
  background-color: rgba(122, 126, 128, 0.993);
}


.modal {
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
  height: 100%;
  overflow: auto;
  position: fixed;
  width: 100%;
  z-index: 1;
}

.modal-content {
  background-color: #fefefe;
  border: 1px solid #888;
  border-radius: 5px;
  display: flex;
  flex-flow: row wrap;
  margin: 5% auto 15% auto;
  padding: 5px;
  width: 80%;
}

.modal button {
  width: 100%
}

.modal-img-container{
  position: relative;
  display: flex;
  flex-flow: row wrap;
  width: 100%;
}

.modal-img-container img {
  height: 120px;
  width: 120px;
}



.modal input[type=text], input[type=password] {
  width: 100%;
  padding: 10px 10px;
  margin: 5px 0;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

.modal .container {
  width: 100%;
}

.portal-links {
  display: flex;
  justify-content: space-between;
  margin-top: 100px;
  padding: 0 5px;
  width: 100%;
}

#register {
  background-color: rgb(142, 245, 222);
  border: 1px solid gray;
  margin-top: 5px;
  width: auto;
  cursor: pointer;
}

.register-btn{
  display: flex;
}

#register-btn{
  background-color: rgb(23, 157, 197);
  color: black;
  font-weight: bold;
  margin-top: 10px;
  text-align: center;
  width: 100%;
}


/*============
*/



.venue-links {
  display: flex;
  justify-content: space-between;
  padding: 0 5px;
  width: 100%;

}
