@import "./reserve.css";
@import "./form.css";
@import "./events.css";

.App {
  /* display: flex; */
  /* flex-flow: row wrap; */
  /* height: 100%; */
  /* max-width: 1080px; */
}



a {
  text-decoration: none;
}

li {
  list-style-type: none;
}


/* ================
Home Header 
=================*/

.home-header
{
  border-bottom: 1px solid black;
  padding: 2px;
  width: 100%;
  /* height: 80px; */
  height: auto;
}

.reserve-title,
.home-title,
.host-title
{
  text-align: center;
  width: 100%;
}


.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  border-radius: 5px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  display: none;
  margin-top: 0;
  min-width: 100px;
  padding: 5px 0;
  position: absolute;
  right: 59px;
  top: 0;
  z-index: 1; 

}

.dropdown-content a {
  color: black;

}

.dropdown:hover .dropdown-content {
  display: block;

}

.dropdown-content li:hover {
  background-color:rgb(224, 151, 33);

}



/*==============
 Home Body 
 ===============*/

.home{
  display: flex;
  flex-flow: row wrap;

}

.home-body {
  background-image: url("./images/club-2.jpg");
  background-size: 100%;
  height: 100vh;
  width: 100%;
}


.reserve-btn{
  background-color: rgb(224, 151, 33);
  border-radius: 5px;
  color: whitesmoke;
  cursor: pointer;
  padding: 5px;
}

#reserve-btn {
  justify-content: center;
  color: whitesmoke;
}

.host-show-btn{
  background-color: #663A2B;
  border-radius: 5px;
  color: whitesmoke;
  cursor: pointer;
  padding: 5px;
}


.venues {
  display: flex;
  justify-content: space-between;
  padding: 0 5px;
  width: 100%;

}

.venue-links > div > a{
  background-color: white;
  border-image : url("./images/paper-border.png") 50 repeat;
  border-style: solid;
}

.venue-links > div {
  margin-top: 5px;
  /* justify-content: space-between; */

}





/* Modal */
.cancel-btn {
  display: flex;

}
#cancel-btn{
  background-color: rgb(197, 23, 23);
  color: white;
  margin-top: 10px;
  text-align: center;
  width: 100%;
}



.close {
  cursor: pointer;
  font-weight: bold;
  order: 1;
  position: absolute;
  padding-left: 5px;
  padding-right: 5px;
  right: 0%;
}

.close:hover {
  background-color: rgba(122, 126, 128, 0.993);
}





