@import "./reserve.css";
@import "./form.css";
@import "./events.css";
@import "./profile.css";
@import "./calendar.css";
@import "./cart-event-detail.css";
@import "./checkout-confirmation.css";
@import "./responsive.css";
@import "./homepage.css";
@import "./print.css";

a {
  text-decoration: none;
}

li {
  list-style-type: none;
}

body {
  font-family: "Roboto";
}



