
.checkout-body{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    padding-top: 10px;
}

.checkout-flex-container {
    border: 1px solid rgb(224, 151, 33);
    display: flex;
    flex-flow: row wrap;
}

.checkout-flex-container li {
   width: 100%;
}

.checkout-flex-container li:first-of-type {
  text-align: center;
}

.cc-icons {
    display: flex;
    flex: 1 1 120px;
    /* margin-right: 50px; */
}

.pay-btn{
    display: block;
    width: 100%;
}

:root{
    --px: 42px
}

#debit-card{
    border-radius: 5px;
    margin-top: 10px;
    height: var(--px);
    width: var(--px);
}


.checkout-form-container label {
    flex: 1 1 120px;
   margin-right: 50px;
}

.checkout-form-container input {
    flex: 3 1 261px;
}

.checkout-form-container input[type=text]{
    width: 100%;
}


.confirm tbody td {
    border-bottom: 1px solid  rgb(224, 151, 33);
    padding: 10px;
    text-align: center;
}


.confirm-num{
    color: #663A2B;
    font-size: 1.2em;
}

.exp-cvv {
    /* display: inline-flex; */
    width: 50%;
}


.exp-cvv input[type=text] {
    margin-right: 20px;
    width: 80px;
}



.items-summary li{
    /* border-top: 1px solid #663A2B; */
    margin: 5px 0;
    padding: 0 5px
}

.process-btn {
    background-color: #663A2B;
    border: none;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    opacity: 0.7;
    padding: 10px 5px;
}

.process-btn:hover {
    opacity: 1;
}

.total-checkout {
    border: 1px solid #663A2B;
    margin: 10px;
    padding: 5px;
    width: 100%;
    text-align: center;
}

.total-checkout li,
.total-checkout h2
{
    padding: 2px 0;
}




.Overlay-Badge--bottomLeft {
    display: none;
}

.debit-card-logo {
    height: 48px;
    width: 48px;
}


.pay-btn{
    width: 100%;
    text-align: center;
    margin: 10px 0;
}