
.calendar-header {
    border-bottom: 1px solid black;
    display: flex;
    flex-flow: row wrap;
    width: 100%;
}


.event {
    border: 1px dotted #663A2B;

    display: flex;

    flex-flow: row wrap;
    /* width: 20%; */
    justify-content: center;
    margin: 15px 0;

}
.event a {
    text-transform: uppercase;
}

.event li {
     /* display: inline-block; */
     display: block;

    padding: 5px 60px;
    /* width: 20%; */
    /* text-align: center; */

}




.seatsAvail{
    position: relative;
    text-align: center;
    /* width: 100%; */
}

#seatsAvail-img {
    
    /* position: absolute;
    top: 3px;
    margin-left: 3px; */
        /* justify-content: right; */

}
#performer-img {
    height: 50px;
    width: 50px;
}


.events-header {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    
}


#calendar-view {
    opacity: 0.5;

}

#calendar-view:hover {
    cursor: pointer;
    opacity: 1;

}

#list-view {
    opacity: 0.5;
    margin-right: 50px;

}

#list-view:hover {
    cursor: pointer;
    opacity: 1;
}



::placeholder {
    color:  #663A2B;
    font-weight: bold;
    opacity: 0.5;

}



.venue-select {
    display: flex;
    flex-flow: row wrap;
    width: 100%;
    justify-content: center;
}

.venue-select h2 {
    background-color: #663A2B ;
    color: white;
    margin-bottom: 5px;
    text-align: center;
    width: 100%;
}


.venue-select > select {
    border-color:  #663A2B;
    color: #663A2B ;
    cursor: pointer;
    height: 20px ;
    margin: 5px 0 10px 0;
    text-align: center;
} 


#ticket-count {
    width: 30px;
}



tfoot {
    color: rgb(224, 151, 33);
    font-size: 0.7em;
    font-style: italic;
}