.calendar-header {
    border-bottom: 1px solid black;
    /* display: flex; */
    /* flex-flow: row wrap; */
    /* width: 100%; */
}


.event {
    background-color: #020202;
    border-top: 1px dotted #663A2B;
    border-radius: 5px;
    color: white;
    /* display: flex; */
    /* flex-flow: row wrap; */
    /* justify-content: center; */
    margin: 15px ;
    padding: 20px 30px;
    /* width: 310px;
    height: 507px; */
}

.event a {
    color: rgb(224, 151, 33);
    font-size: 28px;
    padding-bottom: 2px;
    text-transform: uppercase;

}

.event div {
    text-align: center;
}

#performer-img {
    border-radius: 5px;
    height: 250px;
    width: 250px;
}


#events-body {
    display: flex;
    flex-flow: row wrap;

}

.events-header {
    border-bottom: 1px solid #663A2B;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}

.events-header h2 {
    background-color: #020202;
    color: white;
    text-align: center;
    width: 100%;
}

.events-history {
    border-bottom: 1px dotted #663A2B;
}


.events-btn {
    background-color: rgb(224, 151, 33);
    border: none;
    border-radius: 5px;
    color: whitesmoke;
    cursor: pointer;
    padding: 5px;
}



.event-info div{
    font-family: 'Courier Prime', monospace;
    letter-spacing: 1PX;
    padding-top: 20px;
}

#loading{
    margin-left: 42%;
    margin-top: 100px;
    position: absolute;
}

.events-no-events {
    margin-left: 50%;
}

.events-no-events {
    font-size: 18px;
    margin-top: 100px;
    margin-left: 47%;
}

.no-events {
    font-size: 18px;
    margin-top: 100px;
    text-align: center;
}
#performer-name {
    font-size: 20px;
    font-family: 'Courier Prime', monospace;
    letter-spacing: 2PX;
}

.reserve-btn{
    background-color:  #663A2B;
    border: none;
    border-radius: 5px;
    color: whitesmoke;
    cursor: pointer;
    font-weight: bold;
    font-size: 16px;
    letter-spacing: 2px;
    margin-left: 50px;
    padding: 10px;
}

.reserve-btn:hover{
    background-color: whitesmoke;
    color:  rgb(224, 151, 33);
    /* color: #663A2B; */
}

#calendar-view {
    opacity: 0.5;
}

#calendar-view:hover {
    cursor: pointer;
    opacity: 1;
}

#list-view {
    opacity: 0.5;
    margin-right: 50px;
}

#list-view:hover {
    cursor: pointer;
    opacity: 1;
}

::placeholder {
    color: #663A2B;
    font-weight: bold;
    opacity: 0.5;
}

.venue-select {
    display: flex;
    flex-flow: row wrap;
    width: 100%;
    justify-content: center;
}

.venue-select h2 {
    background-color: #663A2B;
    color: white;
    margin-bottom: 5px;
    text-align: center;
    width: 100%;
}

.venue-select > select {
    border-color: #663A2B;
    color: #663A2B;
    cursor: pointer;
    height: 20px;
    margin: 5px 0 10px 0;
    text-align: center;
}

#ticket-count {
    width: 30px;
}




/*==================

new layout

======================*/

.event-title {
    /* font-size: 38px; */
    letter-spacing: 2px;
    margin-bottom: 20px;
    /* padding: 0 20px; */
    text-align: center;
    width: 100%
}

.event-title a:hover {
    color: white;
}


.seats-avail-img-container {
    position: relative;
}

#seats-avail-img {
    height: 20px;
    margin-left: 3px;
    position: absolute;
    width: 20px;
}

#spinner {
    text-align: center;
}


/*=====================
EVENT DETAIL

=======================*/


.event-detail-body {
    background-color: #020202;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    height: 100vh;
}

.event-detail-info {
    font-family: 'Courier Prime', monospace;
    /* font-size: 18px; */
    letter-spacing: 2px;
    margin-left: 50px;
}

.event-detail {
    display:flex;
    padding: 10px;
}

.event-detail li {
    color: white;
    padding: 10px;
    /* width: 100%; */
}
