/*====================
Form 
===============*/

.checkout-form {
  display: flex;
  flex-flow: row wrap;
}


.checkout-form label {
  flex: 1 1 120px;
}



.modal {
  background-image: url("./images/club-2.jpg");
  overflow: auto;
  position: fixed;
  width: 100%;
}

.modal-content {
  background-color: #fefefe;
  border: 1px solid #888;
  border-radius: 5px;
  display: flex;
  flex-flow: row wrap;
  margin: 2% auto 15% auto;
  padding: 5px;
  width: 80%;
}

.modal button {
  width: 100%
}

.modal-img-container {
  position: relative;
  display: flex;
  flex-flow: row wrap;
  width: 100%;
}

.modal-img-container img {
  height: 100px;
  width: 100px;
}


.modal input[type=text],
.modal input[type=password],
.modal input[type=email] {
  width: 100%;
  padding: 5px 5px;
  margin: 5px 0;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

.modal .container {
  width: 100%;
}

.portal-links {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

#register {
  background-color: rgb(142, 245, 222);
  border: 1px solid gray;
  margin-top: 5px;
  width: auto;
  cursor: pointer;
}

.register-btn {
  display: flex;
}

#register-btn {
  background-color: rgb(23, 157, 197);
  color: black;
  font-weight: bold;
  margin-top: 10px;
  text-align: center;
  width: 100%;
}


.reserve-btn {
  color: white
}

/* ====================
Host
======================*/


.host-header{
  display: flex;
}

.host-header h2{
  background-color:#663A2B;
  color: white;
  padding: 2px 0;
  text-align: center;
  width: 100%;
}

.host-form {
  border: 1px solid gray;
}