/*====================
Form 
===============*/

#errors{
  background-color: rgba(243, 60, 60, 0.856);
  display: flex;
  color: white;
  padding: 5px;
  width: 100%;
}


#close-btn{
  color: white;
  cursor: pointer;
  /* float: right; */
  font-size: 30px;
  font-weight: bold;
  margin-left: auto;
}

#close-btn:hover {
  color: rgb(255, 0, 0);
}

.login {
  background-image: url("./images/door-lock.jpg") ;
  background-size: cover;
  height: 100vh;
}
.modal {
  overflow: auto;
  position: fixed;
  width: 100%;
}


.login-flex-container,
.register-flex-container
/* .modal-content  */
{
  background-color: #fefefe;
  border: 1px solid #888;
  border-radius: 5px;
  display: flex;
  flex-flow: row wrap;
  margin: 1% auto 15% auto;
  padding: 5px;
  width: 80%;
}

.modal button {
  width: 100%
}

.login-form-container,
.register-form-container
/* .modal-img-container  */
{
  position: relative;
  display: flex;
  flex-flow: row wrap;
  width: 100%;
}

.login-form-container img,
.register-form-container img
/* .modal-img-container img  */
{
  height: 95px;
  width: 95px;
}


.modal input[type=text],
.modal input[type=password],
.modal input[type=email] {
  width: 100%;
  padding: 5px 5px;
  margin: 5px 0;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

.login-form-fields,
.modal .container {
  width: 100%;
}

.cancel-btn {
  display: flex;
}

.cancel-btn{
  background-color: rgba(243, 60, 60, 0.856);
  border: none;
  border-radius: 5px;
  color: white;
  cursor: pointer;
  font-weight: bold;
  letter-spacing: 1px;
  justify-content: center;
  margin-top: 10px;
  padding: 5px 0;
  text-align: center;
  width: 100%;
}

.register {
  background-image: url("./images/clay-brick-wall.jpg");
}


.not-registered-btn
 {
  background-color:  rgb(224, 151, 33);
  border: none;
  border-radius: 5px;
  color: white;
  cursor: pointer;
  display: flex;
  font-weight: bold;
  font-size: 1.1em;
  justify-content: center;
  letter-spacing: 1px;
  margin-top: 5px;
  padding: 5px 0;
}

.register-btn,
.login-btn {
  background-color:  #663A2B;
  border: none;
  border-radius: 5px;
  color: white;
  cursor: pointer;
  display: flex;
  font-weight: bold;
  font-size: 1.1em;
  justify-content: center;
  letter-spacing: 1px;
  margin: 10px 0;
  padding: 5px 0;
}

.register-btn{
  margin: 5px 0;
}


.events-btn {
  color: white
}


.show-events-addPage {
  color:  rgb(224, 151, 33);
  cursor: pointer;
}


.show-events-addPage:hover {
  color: white;
  font-size: 1.1em;
}


/* ====================
UpdateEvent
======================*/

.add-event-header {
  background-color: #020202;
  color: white;
  display: flex;
  padding: 5px 0;
  justify-content: space-evenly;
  width: 100%;
}

#cancel-update-btn {
  background-color:  rgba(243, 60, 60, 0.856);
  border: none;
  border-radius: 5px;
  color: white;
  cursor: pointer;
  font-weight: bold;
  font-size: 1.1em;
  letter-spacing: 1px;
  padding: 10px;
}


.show-events-updatePage:hover {
  color: white;
  font-size: 1.1em;
}

.show-events-updatePage {
  color:rgb(224, 151, 33);
  cursor: pointer;
}

select#venue,
select#start-time,
select#end-time {
  flex: 3 1 261px;
  margin: 10px 0 10px 0 ;
}

#submit-update-btn {
  background-color: rgb(224, 151, 33);
  border: none;
  border-radius: 5px;
  color: white;
  cursor: pointer;
  font-weight: bold;
  font-size: 1.1em;
  letter-spacing: 1px;
  padding: 10px;
}


.update-btns button:first-child {
  margin-right: auto;
}

.update-body {
  background-color: black;
  color: white;
}

.update-event-flex-container{
  display: flex;
  flex-flow: row wrap;
  margin: 20px 0 0 20%;
  width: 60%;
}

.update-event-form-container {
  padding: 20px 5px;
  width: 100%;
}

.update-event-form-container li{
  display: flex;
  margin-right: 50px;
}

.update-event-form-container label {
  color: white ;
  flex: 1 1 120px;
  margin-top: 10px;
}

.update-event-form-container input{
  flex: 3 1 261px;
  margin: 10px 0 10px 0 ;
}
