

#add-event-btn {
    background-color: #663A2B ;
}

#delete-event-btn {
    background-color: rgb(224, 39, 33) ;

}

#update-event-btn {
    background-color: rgb(224, 151, 33) ;
}


#events-history-btn {
    background-color: #020202;
    color: white;
}

.profile-buttons  {
    display: flex;
    color: white;
    justify-content: space-between;
    width: 100%;
}



#events-history-title {
    background-color: rgb(224, 151, 33) ;
    color: white;
    margin-top: 5px;
    text-align: center;
}



.profile-buttons li {
    padding: 10px 2px;
}

.profile-buttons li div {
    border-radius: 5px;
    opacity: 0.7;
    padding: 10px 2px;
}


.profile-buttons li div:hover {
    opacity: 1;
    cursor: pointer;

}


.profile-header {
    display: flex;
    flex-flow: row wrap;
   /* border-bottom: 1px solid black; */
}


.profile-header h1{
    background-color: #663A2B ;
    color: white;
    margin-bottom: 10px;
    text-align: center;
    width: 100%;
}

#add-event-btn  {
    color: white;
}
