/* ==========================
reserve
=============================*/


.reserve-header{
    border-bottom: 1px solid black;
  
    display: flex;
    flex-flow: row wrap;
    width: 100%;
  }
  
  .comic img {
    height: 200px;
    width: 200px;
  }
  
  .profile-icon img{
    height: 50px;
    width: 50px;
  }
  
  
