#update-event-btn {
    background-color: rgb(224, 151, 33);
}

.update-events-btns {
    display: flex;
    justify-content: space-between;
    /* padding-bottom: 80px; */
    width: 100%;
}

.update-body {
    background-color: black;
    color: white;
}

.update-event-flex-container {
    display: flex;
    flex-flow: row wrap;
    margin: 20px 0 0 20%;
    width: 60%;
}

.update-event-form-container {
    padding: 20px 5px;
    width: 100%;
}

.update-event-form-container li {
    display: flex;
    margin-right: 50px;
}

.update-event-form-container label {
    color: white;
    flex: 1 1 120px;
    margin-top: 10px;
}

.update-event-form-container input {
    flex: 3 1 261px;
    margin: 10px 0 10px 0;
    padding: 5px 5px;
    font-size: 14px;
}


#submit-update-btn {
    background-color: rgb(224, 151, 33);
    border: none;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    font-weight: bold;
    font-size: 1.1em;
    letter-spacing: 1px;
    padding: 10px;
}

.time-format {
    margin-left: 235px;
}


#cancel-update-btn {
    background-color: rgba(243, 60, 60, 0.856);
    border: none;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    font-weight: bold;
    font-size: 1.1em;
    letter-spacing: 1px;
    padding: 10px;
}

.show-events-updatePage:hover {
    color: white;
    font-size: 1.1em;
}

.show-events-updatePage {
    color: rgb(224, 151, 33);
    cursor: pointer;
}

select#venue,
select#start-time,
select#end-time {
    flex: 3 1 261px;
    margin: 10px 0 10px 0;
    padding: 5px 0;
}



/* =============================
Mobile Styles: 0 to 480px
=============================== */

@media only screen and (max-width: 480px) {

    
    .time-format {
        margin-left: 130px;
    }
    
    .update-event-header {
        background-color: #020202;
        border-bottom: 2px double #663A2B ;
    }

    .update-event-flex-container {
        display: block;
        margin: 0;
        width: 100%;
    }
    
    .update-event-form-container {
        margin: 0 5px;
    }
    
    #upload {
        padding-bottom: 20px;
    }

    input[type=file] {
        margin-right: 0;
        padding-left: 40px;

    }

    select#venue,
    select#start-time,
    select#end-time {
        flex: 3 1 275px;
    }
        
    .update-event-form-container input {
        width: 100%;
    }
    

    .update-btns button{
        margin-left: 15px;
    }























}